# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache

# Build results
[Dd]ebug/**
[Dd]ebugPublic/**
[Rr]elease/**
[Rr]eleases/**
x64/**
x86/**
[Ww][Ii][Nn]32/**
[Aa][Rr][Mm]/**
[Aa][Rr][Mm]64/**
bld/**
[Bb]in/**
[Oo]bj/**
[Ll]og/**
[Ll]ogs/**


# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.vs/HackerRank/FileContentIndex/8a963506-2ffc-468e-8a25-ad447578a294.vsidx
.vs/HackerRank/FileContentIndex/c5f8187e-011c-47bc-a9aa-657ad89abbb3.vsidx
.vs/HackerRank/FileContentIndex/eef4889e-e406-4f07-8c10-103fdf6c3a49.vsidx
.vs/HackerRank/FileContentIndex/f44e62f0-6567-4b1f-9a9d-b658c89233fc.vsidx
Interview Preparation Kit/Arrays/RemoveDuplicates/RemoveDuplicates/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Interview Preparation Kit/Arrays/RemoveDuplicates/RemoveDuplicates/obj/Debug/net8.0/RemoveDuplicates.AssemblyInfo.cs
Interview Preparation Kit/Arrays/RemoveDuplicates/RemoveDuplicates/obj/Debug/net8.0/RemoveDuplicates.GeneratedMSBuildEditorConfig.editorconfig
Interview Preparation Kit/Arrays/RemoveDuplicates/RemoveDuplicates/obj/Debug/net8.0/RemoveDuplicates.GlobalUsings.g.cs
Interview Preparation Kit/Arrays/RemoveElement/RemoveElement/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Interview Preparation Kit/Arrays/RemoveElement/RemoveElement/obj/Debug/net8.0/RemoveElement.AssemblyInfo.cs
Interview Preparation Kit/Arrays/RemoveElement/RemoveElement/obj/Debug/net8.0/RemoveElement.GeneratedMSBuildEditorConfig.editorconfig
Interview Preparation Kit/Arrays/RemoveElement/RemoveElement/obj/Debug/net8.0/RemoveElement.GlobalUsings.g.cs
Interview Preparation Kit/Arrays/TwoSum/TwoSum/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Interview Preparation Kit/Arrays/TwoSum/TwoSum/obj/Debug/net8.0/TwoSum.AssemblyInfo.cs
Interview Preparation Kit/Arrays/TwoSum/TwoSum/obj/Debug/net8.0/TwoSum.GeneratedMSBuildEditorConfig.editorconfig
Interview Preparation Kit/Arrays/TwoSum/TwoSum/obj/Debug/net8.0/TwoSum.GlobalUsings.g.cs
*.vsidx
*.json
*.props
*.targets
*.dll
*.exe
*.cs
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
